@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
body{
    background: #cee9f2;
}
.quote-box{
    background: #fff;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;   
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0.9, 0.35);
}
.quote-box h2{
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}
.quote-box h2::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(87, 153, 223);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.quote-box blockquote{
    font-size: 26px;
    min-height: 110px;
}
.quote-box blockquote::before, .quote-box blockquote::after{
    content: '"';
}
.quote-box span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}
.quote-box span::before{
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -30px;
}
.quote-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.quote-box button{
    font-size: 15px;
    display: inline-block;
    outline: 0;
    margin: 30px;
    border: 20px;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5482ff 100% );
    box-shadow: 0px 0.01em 0.01em rgba(24, 19, 35, 0.4), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 01em;
    border-radius: 0.1em;
    color: #fff;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 25px;
    width: 150px;
}

button:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
  }
  
button:active {
    box-shadow: inset 0px 0.1em 0.6em #1a2054;
    transform: translateY(0em);
  }
.quote-box button img{    /* change twitter size */
    width: 25px;
    margin-right: 10px;
  }
.quote-box button:nth-child(2){
    background: transparent;
    color: #333;
  }